/* IMPOSTAZIONI GENERALI */
body {
  display: block;
  margin: 0px;
  padding: 1rem;
  background-image: url(../img/sfondo.png);
  background-repeat: repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 118%;
  font-style: unset;
}

/* HEADER */
header {
  display: block;
  background: rgb(11, 124, 150);
  background: linear-gradient(180deg, rgb(22, 148, 177) 28%, rgba(0, 136, 168, 1) 76%, rgb(4, 112, 136) 100%);
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 48%);
}
header a {
  text-decoration: none;
  color: white;
}
header img {
  width: 72%;
  margin: 16px;
}
header .sottotitolo {
  font-size: large;
  color: white;
  margin: 10px;
}
header .divmenu {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}
header .divmenu a {
  margin-bottom: 8px;
}

a {
  color: #00a6c8;
}
span {
  color: #a0167a;
}
img {
  display: inline-block;
}

/* MAIN */
main {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(241, 241, 241);
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.671);
  line-height: 155%;
  font-weight: 500;
}

/* ELEMENTI NEL MAIN - ARTICLE */
main h1 {
  margin-top: 1rem;
  font-weight: 550;
  line-height: 154%;
}
.frame {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.novità {
  padding: 10px;
}
article .novità h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #343d37;
}
.novità p {
  text-align: left;
  color: #343d37;
}
main article section {
  color: gray;
}
.novità {
  background-color: rgb(214, 213, 213);
}

.frame iframe {
  border-radius: 30px;
}

/* TABELLE */
.griglia {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.5;
}
.tgriglia p {
  text-align: center;
  margin: 0;
  font-style: italic;
}
td {
  text-align: center;
  border: 0px;
  padding: 10px;
  border-radius: 20px;
}
th {
  text-align: center;
  background-color: #376cc3;
  padding: 10px;
  color: white;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
tr:nth-child(even) {
  background-color: rgb(214, 213, 213) #d1e7dd;
}
article h2 {
  text-align: center;
  color: #474747;
}
.html {
  padding: 1em;
  background-color: lightgray;
}
.sintassi {
  background-color: lightgray;
  padding: 1em;
}
.menokb {
  background-color: lightgray;
  padding: 1em;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */
i {
  display: block;
  margin-left: 0;
  margin-right: 0.5em;
  padding-left: 1px;
}

/* FOOTER */
footer {
  padding: 1em;
  background: linear-gradient(rgb(0, 85, 102) 28%, rgb(31 96 111) 76%, rgb(59 38 19) 100%);
  box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 48%);
}
footer h4 {
  margin: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
  color: white;
}
footer h4 a {
  color: fuchsia;
}

/*-----------*/

div {
  display: block;
}
form {
  display: block;
  margin-top: 0em;
}

.sottotitolo {
  font-size: 15px;
}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
rt {
  line-height: normal;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
a:visited {
  text-decoration: underline;
  cursor: auto;
}
article {
  display: block;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}
li {
  display: list-item;
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.divmenu a {
  display: block;
}
